.completed {
	text-decoration: line-through;
}

.secondary-content a {
	margin: 0 0.5em;
}

.complete-task {
	color: black;
}

.incomplete-task {
	color: #FF0000;
}

i {
	cursor: pointer;
}

.center-button {
	text-align: center;
}

.input-field {
	margin: 0 auto;
	width: 75%;
}